<!-- Attribution Page -->

<!--Uses the contents of base.html as a template-->
{% extends 'base.html' %}

<!--Sets the title for the page-->
{% block head %}
    <title>Attributes</title>
{% endblock %}

<!--Adds the body for the page-->
{% block body %}
    <div class="container" id="homeContainer">
        <div class="row">
            <div class="container-fluid">
            <!-- Attributions to the images used -->
            <h1>Attributes</h1>
            <hr>
            <a href="https://www.flaticon.com/free-icons/cancer" title="cancer icons">Cancer icons created by sonnycandra - Flaticon</a>
            <hr>
            <a href="https://www.flaticon.com/free-icons/brain" title="brain icons">Brain icons created by Smashicons - Flaticon</a>
            <hr>
            <a href="https://www.flaticon.com/free-icons/heart-disease" title="heart disease icons">Heart disease icons created by juicy_fish - Flaticon</a>
            <hr>
            <a href="https://www.flaticon.com/free-icons/pneumonia" title="pneumonia icons">Pneumonia icons created by AmethystDesign - Flaticon</a>
            </div>
        </div>
    </div>
{% endblock %}