<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='Libraries/bootstrap/dist/css/bootstrap.min.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/baseNavbar.css') }}">
    <!-- Overall Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/site.css') }}">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" type="text/css">
    <!-- Overall Site JS -->
    <script src="{{ url_for('static', filename='JS/siteJS.js') }}"></script>
     <!-- Bootstrap JS and dependencies -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

     <!------Flask head module for other pages to add on------>
    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <!---------The Navbar------------------------>
        <nav class="navbar navbar-expand-md navbar-custom ">
            <div class="container">
                <!----Navigates user to index page------->
                <a class="navbar-brand" href="{{url_for('index')}}">AirlinesDB</a>
                <!----Toggler for mobile view of navbar---->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!----Navbar links---->
                <div class="collapse navbar-collapse" id="homeNavbar"> 
                    <div class="navbar-nav ml-auto">
                        <!----Navigates user to index page------->
                        <a class="nav-link" href="{{url_for('index')}}">Home</a>
                        <!----Dropdown for health tests---->
                        <div class="dropdown">
                            <button class="dropbtn" id="healthDropBtn">
                                <a class="nav-link" href="{{ url_for('index')}}">Aircrafts</a>
                            </button>
                            <div class="dropdown-content" id="healthDropdown">
                                <a href="{{url_for('index')}}">Create</a>
                                <a href="{{url_for('index')}}">Update</a>
                                <a href="{{url_for('index')}}">Function</a>
                                <a href="{{url_for('index')}}">Function</a>
                            </div>
                        </div>
                    </div>               
                </div>
            </div>
        </nav>
    </header>
    <!------Flask body module for other pages to add on------>
    {% block body %}{% endblock %}

</body>
<!------Footer for all pages------>
<footer class="footer mt-auto py-1 bg-light">
    <div class="container">
        <span class="text-muted">2025 Airliness Database. Lab 1 Group .</span>
         <!----Navigates user to Atrributes Page------->
        <a href="{{url_for('attributes')}}">Attributions</a>
    </div>
</footer>
</html>