<!-- This is the home page of the website. It contains a brief description of the website and a button to take the test. -->

<!--Uses the contents of base.html as a template-->
{% extends 'base.html' %}

<!--Sets to title for the page-->
{% block head %}
    <title>Home Page</title>
{% endblock %}

<!--Adds the body for the page-->
{% block body %}
    <!--Container for the home page-->
    <div class="container" id="homeContainer">
        <div class="row">
            <div class="container">
                <h1 id="Welcome">WELCOME</h1>
                <h4>WHAT WOULD YOU LIKE TO DO TODAY?</h4>
            </div>
            <div class="container" id="navtable">
                <button class="tablink" onclick="openOptions('FLIGHT',this)" id="flightTab">FLIGHT</button>
                <button class="tablink" onclick="openOptions('PERSONNEL',this)" id="personnelTab">BOOKINGS</button>
                <button class="tablink" onclick="openOptions('AIRCRAFT',this)" id="aircraftTab">AIRCRAFT</button>
                <br />

                <div id="FLIGHT" class="tabcontent">

                    <a class="btn" id="btnCreateFPR" href="{{url_for('index')}}">
                        CREATE FLIGHT ROUTE
                    </a>

                    <a class="btn" id="btnViewFR" href="{{url_for('index')}}">
                        VIEW FLIGHT ROUTE AND FLIGHT SCHEDULES
                    </a>

                    <a class="btn" id="btnCreateFS" href="{{url_for('index')}}">
                        CREATE FLIGHT SCHEDULE
                    </a>

                    <a class="btn" id="btnUpdateFS" href="{{url_for('index')}}">
                        UPDATE FLIGHT SCHEDULE STATUS
                    </a>

                </div>

                <div id="PERSONNEL" class="tabcontent">

                    <a class="btn" id="btnCreateFPR" href="{{url_for('index')}}">
                        CREATE FLIGHT PERSONNEL RECORD
                    </a>

                    <a class="btn" id="btnViewFP" href="{{url_for('index')}}">
                        VIEW ALL PERSONNEL AND FLIGHT ASSIGNED
                    </a>

                    <a class="btn" id="btnAssignFP" href="{{url_for('index')}}">
                        ASSIGN PERSONNEL TO FLIGHT SCHEDULE
                    </a>

                    <a class="btn" id="btnUpdateFP" href="{{url_for('index')}}">
                        UPDATE FLIGHT PERSONNEL STATUS
                    </a>

                </div>

                <div id="AIRCRAFT" class="tabcontent">

                    <a class="btn" id="btnCreateAirRec" href="{{url_for('index')}}">
                        CREATE AIRCRAFT RECORD
                    </a>

                    <a class="btn" id="btnViewAir" href="{{url_for('index')}}">
                        VIEW ALL AIRCRAFT AND FLIGHT ASSIGNED
                    </a>

                    <a class="btn" id="btnAssignAir" href="{{url_for('index')}}">
                        ASSIGN AIRCRAFT TO FLIGHT SCHEDULE
                    </a>

                    <a class="btn" id="btnAssignAir" href="{{url_for('index')}}">
                        UPDATE AIRCRAFT STATUS
                    </a>

                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("flightTab").click();
    </script>

{% endblock %}