/* Navbar CSS */
.navbar-custom {
    background-color: #ff9900;
    text-align: center;
    margin: 2rem 10vw 0 10vw;
    border-radius: 3rem;
}

.navbar-brand {
    font-size: 2rem;
    color: black;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

.navbar-brand:hover {
    color: white;
    transition: color 0.3s;
}

.navbar-toggler-icon {
    background-image: url( "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    font-size: 24px;
    color: white;
}

    .nav-link:hover {
        color:rgb(0, 0, 0);
        border-radius:100px;
        transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
    }

.dropbtn{
    background-color: transparent;
    border: none;
    margin: 0;
}

    .dropbtn:hover {
        color: white;
        transition: color 0.3s;
        text-decoration: none;
    }

    .dropbtn:focus {
        color: white;
        outline: none;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f6b26bff;
    width: 10rem;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        border-radius: 25px;
        color: rgb(255, 255, 255);
        padding: 12px 10px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            color: white;
            background-color: #ff9900;
        }

.dropdown:hover .dropdown-content {
    display: block;
}


.show {
    display: block;
}
